.integration{
    display:contents;
    position: relative;
    align-items: center;
    padding: 40px 20px;
    justify-content: space-between;
    background-color: black;
}

.stack{
    position: relative;
    
}

.integration-text{
    position: relative;
    z-index: 2;
}